body {

    margin: 0;
    padding: 0;
    
}
.menu {
    display: flex;
    max-width: 700px;
    padding: 0;
    align-items: center;
    margin: 0px 0 50px 0;
    /* border: 1px solid black;
    width: 700px;
    height: 100%;
     padding: 0;
     text-align: justify; */
}
ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    background-color: blue;
    padding: 10px 0;
    border: 1px solid black;
    max-width: 700px;
}
li {
    
}
a {
    text-decoration: none;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    
}
a:hover {
    color: blue;
    background-color: white;
}