body {
    margin: 0;
    padding: 0;
    position: absolute;
}
.glavnii {

}
.pervii {
    border: 1px solid red;
    background-color: red;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    /* margin: 20px; */
    position: relative;
    left: 20px;
    top: 20px;

}
.vtoroi {
    border: 1px solid blue;
    background-color: blue;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    /* margin: 20px 20px 20px 80px; */
    position: relative;
    left: 45px;
    top: 0px;

}
.tretii {
    border: 1px solid green;
    background-color: green;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    /* margin: 20px 20px 20px 140px; */
    position: relative;
    left: 70px;
    top: -20px;
}