.main {
    max-width: 700px;
    border: 2px solid purple;
    border-radius: 10px 10px 0 0;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    position: absolute;
    z-index: 1;
    left: 25%;
    top: 50px;
    bottom: -300px;
}
.head {
    text-align: center;
    background-color: purple;
    font-size: 16px;
    height: 30px;
    width: 600px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 25%;
}
.foot {
    background-color: purple;
    font-size: 16px;
    height: 30px;
    width: 600px;
    position: fixed;
    z-index: 2;
    left: 25%;
    bottom: 0;
}